<div class="row justify-content-center">
   <div class="col-md-4 register-employee">

     <div class="card card-outline-secondary">
       <div class="card-header">
         <h3 class="mb-0" *ngIf="!newReview"> Update review</h3>
         <h3 class="mb-0" *ngIf="newReview"> Add review</h3>
       </div>
       <div class="card-body">
         <form [formGroup]="appraisalForm" (ngSubmit)="onSubmit()">

           <div class="form-group">
             <label for="inputName">Name</label>
             <input class="form-control" type="text" formControlName="name" [readonly]="isReadOnly">
           </div>

           <div class="form-group">
             <label for="inputDesignation">Designation</label>
             <input class="form-control" type="text" formControlName="designation" [readonly]="isReadOnly">
           </div>

           <div class="form-group">
             <label for="inputDepartment">Department</label>
             <input class="form-control" type="text" formControlName="department" [readonly]="isReadOnly">
           </div>
            <div class="form-group">
             <label for="inputReview">Review</label>
             <textarea class="form-control" formControlName="review">
             </textarea>
             <div class="text-danger" *ngIf="submitted && myForm.phoneNumber.errors?.required">
               Review cannot be empty!
             </div>
           </div>

           <div class="form-group">
             <button class="btn btn-success btn-lg btn-block" type="submit" *ngIf="!newReview">Update</button>
             <button class="btn btn-success btn-lg btn-block" type="submit" *ngIf="newReview">Add</button>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
