<div class="container">
  <h1>Applications submitted for Appraisal</h1>
  <hr>
  <h4 *ngIf="Application.length <= 0" class="no-data text-center">There are no applications to be shown!</h4>

  <table class="table table-bordered" *ngIf="Application.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Designation</th>
        <th scope="col">Current Salary</th>
        <th scope="col">Appraisal Requested</th>
        <th scope="col center">Approve/Reject application</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Application; let i = index">
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.designation}}</td>
        <td>&#8377; {{employee.salary}}</td>
        <td>&#8377; {{employee.requestedAppraisal}}</td>
        <td class="text-center edit-block">
          <span class="edit" (click)="approveApplication(employee._id, i, employee.requestedAppraisal)">
            <button type="button" class="btn btn-success btn-sm">Approve</button>
          </span>
          <span class="delete" (click)="rejectApplication(employee._id, i)">
            <button type="button" class="btn btn-danger btn-sm">Reject</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
