<div class="container">
  <h1>Reviews completed</h1>
  <hr>
  <h4 *ngIf="Application.length <= 0" class="no-data text-center">There are no reviews to be shown!</h4>

  <div class="table-responsive">
  <table class="table table-bordered table-striped w-auto" *ngIf="Application.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Designation</th>
        <th scope="col">Salary</th>
        <th scope="col center">Edit/Delete review</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Application; let i = index">
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.designation}}</td>
        <td>&#8377; {{employee.salary}}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/add-review/', employee._id]">
            <button type="button" class="btn btn-success btn-sm" style="margin: 5px">Edit</button>
          </span>
          <span class="delete" (click)="deleteReview(employee._id, i)">
            <button type="button" class="btn btn-danger btn-sm" style="margin: 5px">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
