/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");


body {
    height: 100%;
    background-color: #EBEBFF;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;
}

.mat-toolbar {
    font-weight: 650;
}

.mat-list-item, .mat-toolbar {
    font-family: "Montserrat", sans-serif !important;
}

.mat-sidenav-content {
    height: 100%;
}

.mat-drawer-container {
    background-color: #fff;
}

hr {
    color: black;
    size: 5px;
}

.btn-success {
    border-color: #393D3F;
    background-color: #393D3F;
}

.btn-success:focus {
    border-color: #676767;
    background-color: #393D3F;
}

.btn-success:not(:disabled):not(.disabled):active {
    border-color: #676767; 
    background-color: #393D3F;
}

.btn-success:hover {
    border-color: #676767;
    background-color: #393D3F;
}

table, th, td {
    border: 1px solid #393D3F;
    border-collapse: collapse;
}

.table thead th {
    border: 1px solid #393D3F;
    vertical-align: middle;
    align-content: center;
}

.table-success th {
    border-color: #393D3F;
}

.table-bordered, td {
    border: 1px solid #393D3F !important;    
    border-collapse: collapse;
}

th {
    background-color: #9E95DB;
}

.justify-content-center {
    overflow: hidden;
}